%h2.ui.header Inserir imagens

.ui.divider

= link_to new_admin_property_property_image_path, class: 'ui primary button' do
  %i.plus.icon
  Nova imagem

%table.ui.striped.table
  %thead
    %tr
      %th Imagem
      %th Ordem
      %th Nome
      %th Ação
  %tbody
    = render @images
