$('#message-form').remove();
$('body').append("#{j render partial: 'messages/form', locals: { item_id: params[:item_id], item_type: params[:item_type] }}");
$('.ui.message.modal').modal({ detachable: false }).modal('show');
