.ui.clearing.segment
  %b= city.name
  %b
    = link_to 'Remover', admin_city_path(city.id, market_id: @market.id),
      data: { confirm: 'Tem certeza de que deseja remover esse local de entrega?' },
      method: :delete, style: 'float: right'
