.ui.clearing.segment
  %b= city.name
  %b
    = link_to 'Remover',
      admin_market_city_path(@market.id, city.id), method: :delete,
      data: { confirm: 'Tem certeza de que deseja remover esse local de entrega?' },
      style: 'float: right'
