= render partial: 'admin/markets/market_menu',
  locals: { customer_id: @market.customer_id, market_id: @market.id, tab: 'city' }

.ui.text.container
  - if @market.cities.any?
    .ui.segments
      = render @market.cities

  .ui.center.aligned.container
    = link_to 'Adicionar local de entrega',
      new_admin_customer_market_city_path(@market.customer_id, @market.id),
      id: 'city-btn', remote: true
