= simple_form_for([:admin, @market, @market.categories.build],
    html: { class: 'ui form' }) do |f|

  .required.field
    = f.label :id, 'Categoria'
    = f.input_field :id, collection: @categories_dropdown,
      include_blank: false, class: 'ui search dropdown'

  .field
    = f.button :button, class: 'ui primary button' do
      %i.save.icon
      Salvar
