= render partial: 'admin/markets/market_menu',
  locals: { market_id: @market.id, tab: 'category' }

.ui.text.container
  - if @market.categories.any?
    .ui.segments
      = render @market.categories

  .ui.center.aligned.container
    = link_to 'Adicionar tipo', new_admin_market_category_path(@market.id),
      id: 'category-btn', remote: true

  - previous_path = edit_admin_market_path(@market.id)
  - next_path     = admin_market_working_hours_path(@market.id)

= render partial: 'admin/markets/step_buttons',
  locals: { previous_path: previous_path, next_path: next_path }
