= render partial: 'admin/markets/market_menu',
  locals: { customer_id: @market.customer_id, market_id: @market.id, tab: 'category' }

.ui.text.container
  - if @market.categories.any?
    .ui.segments
      = render @market.categories

  .ui.center.aligned.container
    = link_to 'Adicionar tipo',
      new_admin_customer_market_category_path(@market.customer_id, @market.id),
      id: 'category-btn', remote: true
