= render 'admin/markets/market_menu'

.ui.text.container
  - if @market.categories.any?
    .ui.segments
      = render @market.categories

  .ui.center.aligned.container
    = link_to 'Adicionar tipo', new_admin_market_category_path(@market.id),
      id: 'category-btn', remote: true
