= render partial: 'admin/markets/market_menu',
  locals: { customer_id: @market.customer_id, market_id: @market.id, tab: 'category' }

.ui.text.container
  - if @market.categories.any?
    .ui.segments
      = render @market.categories

  .ui.center.aligned.container
    = link_to 'Adicionar tipo',
      new_admin_customer_market_category_path(@market.customer_id, @market.id),
      id: 'category-btn', remote: true

  - previous_path = edit_admin_customer_market_path(@market.customer_id, @market.id)
  - next_path     = admin_customer_market_working_hours_path(@market.customer_id, @market.id)

  = render partial: 'admin/markets/step_buttons',
    locals: { previous_path: previous_path, next_path: next_path }
