- is_admin = current_user.has_role? :admin

%h2.ui.header= (is_admin) ? 'Gestão de clientes' : 'Meu Perfil'

.ui.divider

- if is_admin
  = link_to new_admin_customer_path, class: 'ui primary button' do
    %i.plus.icon
    Novo

%table.ui.striped.table
  %thead
    %tr
      %th Nome fantasia
      %th Razão social
      %th Endereço
      %th Situação
      %th Ação
  %tbody
    = render @customers
