%tr
  %td
    = link_to category.name, admin_market_category_specialities_path(@market.id, category.id)
  %td
    .ui.icon.top.right.pointing.dropdown.primary.tiny.button
      %i.setting.icon
      .menu
        = link_to admin_market_category_specialities_path(@market.id, category.id),
            class: 'item' do
          %i.external.icon
          Especialidades

        = link_to admin_market_category_path(@market.id, category.id),
            data: { confirm: 'Tem certeza de que deseja remover esse tipo?' },
            method: :delete, class: 'item' do
          %i.remove.icon
          Remover
