= render partial: 'admin/markets/market_menu',
  locals: { customer_id: @market.customer_id, market_id: @market.id }

= link_to new_admin_customer_market_working_hour_path(@market.customer_id, @market.id),
    class: 'ui primary button' do
  %i.plus.icon
  Novo

%table.ui.striped.table
  %thead
    %tr
      %th Dia
      %th Início
      %th Fim
      %th Ação
  %tbody
    = render @working_hours
