.footer-section
  .ui.center.aligned.container
    = image_tag 'dfaqui_brand.svg', class: 'brand'

    .copyright
      %p DFaqui © 2016
      %p Todos os direitos reservados.

  .ui.inverted.vertical.footer.segment
    .ui.center.aligned.container
      .ui.horizontal.inverted.small.divided.link.list
        = link_to 'Política de uso', pages_terms_path, class: 'item'
        %a.item Quem somos
        %a.item Contato
        %a.item Anuncie
