.copyright-section
  .ui.center.aligned.container
    = image_tag 'dfaqui_brand.svg', class: 'footer-brand'

    .copyright-text
      %p DFaqui © 2016
      %p Todos os direitos reservados.

.ui.inverted.vertical.footer.segment
  .ui.center.aligned.container
    .ui.horizontal.inverted.small.divided.link.list
      %a.item Política de uso
      %a.item Quem somos
      %a.item Contato
      %a.item Anuncie
