.search-bar
  .ui.centered.grid.borderless.menu
    .horizontally.fitted.item
      %select.ui.dropdown
        %option Você procura por

    .horizontally.fitted.item
      %select.ui.dropdown
        %option Tipo de imóvel

    .horizontally.fitted.item
      %select.ui.dropdown
        %option Quantidade de quartos

    .horizontally.fitted.item
      %select.ui.dropdown
        %option Quadras

    .horizontally.fitted.item
      %select.ui.dropdown
        %option Quadra

    .horizontally.fitted.item
      = link_to 'Buscar', list_properties_path, class: 'ui primary fluid button'

:javascript
  init_dropdown('.ui.dropdown');
