.item
  .right.floated.content
    = link_to 'Remover', admin_speciality_path(speciality.id, market_id: @market.id),
      method: :delete, data: { confirm: 'Tem certeza de que deseja remover esse item?' },
      style: 'float: right'

  .content
    %i.right.checkmark.icon
    = speciality.name
