.item
  .right.floated.content
    = link_to 'Remover',
      admin_market_speciality_path(@market.id, speciality.id), method: :delete,
      data: { confirm: 'Tem certeza de que deseja remover esse item?' },
      style: 'float: right'

  .content
    %i.right.checkmark.icon
    = speciality.name
