.gallery-section
  %ul#image-gallery.gallery.list-unstyled.cS-hidden
    - @property.property_images.each do |i|
      %li{ 'data-thumb': i.image }
        = image_tag i.image, class: 'property-image'
