= render 'partials/shared/search_info'

- if browser.device.mobile?
  .property-list-mobile-section
    .ui.vertically.divided.centered.grid
      = render partial: 'property_mobile', collection: @properties, as: :property

  :javascript
    $('.ui.heart.rating').rating();
- else
  .property-list-section
    = render partial: 'property', collection: @properties, as: :property

    .ui.center.aligned.container
      = paginate @properties

    :javascript
      $('.ui.heart.rating').rating();
