= link_to 'Voltar', properties_path, class: 'ui primary button back-button'

.result-section
  %span.value= @properties.count
  %span.label imóveis encontrados

.ui.divider

- @properties.each do |property|
  = render property

:javascript
  $('.ui.heart.rating').rating();
