.ui.header.title SQS 102 Bloco F

.ui.stackable.grid
  .eleven.wide.column
    .ui.two.item.pointing.menu
      %a.active.item Ver fotos
      %a.item Tour virtual

    .ui.segment.property-option
      .ui.orange.ribbon.label Aluguel
      = render 'gallery'

    .ui.small.primary.button VER TELEFONE
    .ui.small.green.button ENVIAR MENSAGEM
    .ui.small.yellow.button COMÉRCIO
    .ui.small.primary.property-color.button DELIVERY

  .five.wide.column
    .ui.clearing.segment.general-section
      %span.price-label Valor
      %span.price-value R$ 319.000

      .ui.clearing.divider

      .statisct-secion
        .ui.mini.statistic
          .label Área (m²)
          .value 190

        .ui.mini.statistic
          .label Quartos
          .value 3

        .ui.mini.statistic
          .label Banheiros
          .value 2

      .ui.favorite.divider

      .ui.primary.basic.fluid.button
        %i.heart.icon
        Adicionar aos favoritos

    .ui.clearing.segment.detail-section
      .ui.center.aligned.header Detalhes

      .ui.clearing.divider

      .ui.two.column.grid
        .right.aligned.column Situação
        .column Pronto

        .right.aligned.column Tipo
        .column Residencial

        .right.aligned.column Vagas
        .column 2

        .right.aligned.column Unidade
        .column 201

        .right.aligned.column Andar
        .column Térreo

        .right.aligned.column Valor (m²)
        .column R$ 2.500,00

        .right.aligned.column Condomínio
        .column R$ 500,00

        .right.aligned.column IPTU
        .column R$ 500,00

        .right.aligned.column Posição do sol
        .column Nascente

        .right.aligned.column CRECI
        .column 12345

.ui.divider

%h2.ui.header Descrição

.ui.justified.container
  Maecenas ipsum velit, consectetuer eu, lobortis ut, dictum at, dui. In rutrum.
  Sed ac dolor sit amet purus malesuada congue. In laoreet, magna id viverra
  tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed libero.
  Suspendisse sagittis ultrices augue. Mauris metus. Nunc dapibus tortor vel mi
  dapibus sollicitudin. Etiam posuere lacus quis dolor. Praesent id justo in
  neque elementum ultrices. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos hymenaeos. In convallis. Fusce suscipit libero
  eget elit. Praesent vitae arcu tempor neque lacinia pretium. Morbi imperdiet,
  mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin

.ui.divider

%h2.ui.header Características

.ui.list
  .item
    %i.check.green.icon
    Brinquedoteca

  .item
    %i.check.green.icon
    Churrasqueira

  .item
    %i.check.green.icon
    Elevador

  .item
    %i.check.green.icon
    Piscina

  .item
    %i.check.green.icon
    Sauna
