$futura-font: 'futura_condensedmedium';
$futura-light-font: 'futura_condensed_lightregular';

#advertisement-form {
  .close.icon {
    float: right;
    color: #13a6bd;
    cursor: pointer;
  }

  .ui.header {
    color: #13a6bd;
    font-family: $futura-font;
    font-size: 100px;
    font-weight: 100;
  }

  .sub.header {
    font-family: $futura-light-font;
    font-size: 20px;
    color: #004563;
  }

  .service-term {
    font-size: 12px;
    text-align: center;
  }

  .send-button {
    text-align: center;
  }
}

#success-modal {
  .container { padding: 30px 0 20px 0 }

  .success-icon { width: 100px }

  .header {
    color: #13a6bd;
    font-family: $futura-light-font;
    font-size: 60px;
  }

  .sub-header {
    font-family: $futura-light-font;
    font-size: 20px;
  }
}
