$futura-font: 'futura_condensedmedium';
$futura-light-font: 'futura_condensed_lightregular';

#advertisement-form {
  .ui.header {
    color: #13a6bd;
    font-family: $futura-font;
    font-size: 100px;
    font-weight: 100;
  }

  .sub.header {
    font-family: $futura-light-font;
    font-size: 20px;
    color: #004563;
  }

  .service-term {
    font-size: 12px;
    text-align: center;
  }

  .send-button {
    text-align: center;
  }
}
