$futura-font: 'futura_condensedmedium';
$futura-light-font: 'futura_condensed_lightregular';
$font-color: #284762;

.dfaqui-light {
  margin-top: 10em;
  width: 300px;
}

.section.one {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .background-video {
    min-width: 100%;
    min-height: 100%;
  }

  #form-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .action.options {
      position: absolute;
      top: 0.6em;
      right: 2em;

      .ui.button {
        font-family: $futura-light-font;
        font-weight: 100;
        font-size: 30px;
        margin: 0em 0em 0em 0em;
        padding: 0.2em 0.6em 0.2em;
      }

      .advertise.button { margin-right: 8px }

      .login-section {
        display: inline-table;
        color: white;
        font-size: 12px;

        p { margin-top: 5px }
      }
    }

    .dropdown.icon {
      color: #69a1be;
      opacity: 1;
    }
  }

  .ui.text.container {
    padding-top: 5em;

    .ui.header {
      font-family: $futura-font;
      font-weight: 100;
      font-size: 45px;
    }
  }

  .row { padding: 0 }
  .ui.dropdown { min-width: 20em }

  .arrow-slide {
    width: 120px;
    bottom: 0;
  }
}

.section.two {
  margin-top: 50px;

  .header.title {
    font-family: $futura-font;
    font-size: 60px;
    color: $font-color;
  }

  .header.sub {
    font-family: $futura-light-font;
    color: $font-color;
    font-size: 20px;
  }

  .stackable.grid { padding-top: 50px }
  .channel-link { cursor: pointer }
}

.section.three {
  margin-top: 50px;

  .header.title {
    font-family: $futura-font;
    font-size: 60px;
    color: $font-color;
  }

  .header.sub {
    font-family: $futura-light-font;
    color: $font-color;
    font-size: 20px;
  }

  .pin-servico { padding-top: 3em }
}

// Footer Area
.footer-brand {
  margin-top: 50px;
  width: 150px;
}

.copyright {
  font-family: $futura-light-font;
  color: $font-color;
  font-size: 12px;
}

.footer.segment {
  background-color: #004969 !important;
  margin-top: 2em !important;
}
