.dfaqui-light {
  margin-top: 10em;
  width: 300px;
}

.section.one {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .background-video {
    min-width: 100%;
    min-height: 100%;
  }

  #form-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .dropdown.icon {
      color: #69a1be;
      opacity: 1;
    }
  }

  .ui.text.container {
    padding-top: 5em;

    .ui.header {
      font-weight: 200;
      font-size: 35px;
    }
  }

  .row { padding: 0 }
  .ui.dropdown { min-width: 20em }

  .arrow-slide {
    width: 120px;
    bottom: 0;
  }
}

.section.two {
  margin-top: 50px;

  .header.title {
    font-size: 50px;
    color: #284762;
  }

  .header.sub { font-size: 16px }
  .stackable.grid { padding-top: 50px }
  .channel-link { cursor: pointer }
}

.section.three {
  margin-top: 50px;

  .header.title {
    font-size: 50px;
    color: #284762;
  }

  .header.sub { font-size: 16px }
  .pin-servico { padding-top: 3em }
}

// Footer Area
.footer-brand {
  margin-top: 50px;
  width: 150px;
}

.footer.segment {
  background-color: #004969 !important;
  margin-top: 2em !important;
}
