// SCREEN SIZES
$mobile: "(max-width: 768px)";
$desktop: "(min-width: 768px)";

// COLORS
$color-market: #43a241;
$color-delivery: #faae2e;
$color-property: #0fa3be;
$color-secondary: #004661;
$color-grey: #505050;
$color-grey-light: #969696;

// CUSTOM FONTS
$font-futura-regular: 'futura_condensedmedium';
$font-futura-light: 'futura_condensed_lightregular';
