.footer-brand {
  width: 150px;
}

.copyright-text {
  color: #284762;
  font-size: 11px;

  p:nth-child(2) {
    margin-top: -12px;
  }
}

.footer.segment { background-color: $color-secondary !important }

.copyright-section { margin: 2em 0 2em 0 }
