// INDEX PAGE
.market-index-section {
  .title {
    font-family: $font-futura-light;
    color: $color-grey;
    font-size: 36px;

    @media #{$mobile} { font-size: 22px }
  }
} // .market-index-section

// LIST PAGE
.market-list-section {
  .customer.image {
    width: 266px;
    height: 165px;
    float: left;
  }

  .main-section {
    margin-top: 15px;
    margin-left: 270px;
    margin-right: 5px;
  }

  .section-one {
    .column {
      padding: 0px 0px 10px 0px !important
    }

    .header { margin-left: 15px }
  }

  .section-two {
    margin-top: 15px;

    .column {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .item { line-height: 1.2 !important }

    .tags { text-align: right }
  }

  .section-three {
    display: flex;
    margin-top: 15px;
  }

  .section-four {
    margin-top: 12px;
    .action-section { text-align: right }
  }
} // .market-list-section

// SHOW PAGE
.market-show-section {
  padding-top: 85px;

  .banner {
    margin-top: 10px;
    background-image: image-url('alimentacao_market_banner.jpg');
    background-position: center center;
    min-height: 300px;
  }

  .customer.image {
    float: left;
    width: 266px;
    height: 165px;
  }

  .description { font-size: 16px }

  .main-section {
    float: left;
    margin-left: 15px;

    .section-one {
      .header {
        float: left;
        margin-bottom: 0;
        color: white;
        font-size: 25px;
        font-weight: 100;
      }

      .rating .icon {
        margin-left: 10px;
        color: white;
        opacity: 0.6;
      }
    }

    .section-two {
      .item {
        color: white;
        font-size: 14px;
      }
    }

    .section-three {
      .white{ color: white }

      .estimated-time {
        color: white;
        font-size: 14px;
      }
    }
  }
} // .market-show-section

.market-list-mobile-section {
  .ui.image { width: 100px !important }

  .row { padding-bottom: 0px !important }

  .column{ margin: 0px !important }

  .header {
    color: $color-grey;
    font-family: $font-futura-light;
    font-size: 18px !important;
    margin: 0px;
  }

  .ui.list {
    display: block;
    line-height: 1;

    .item {
      color: $color-grey-light;
      font-size: 15px !important;
      font-family: $font-futura-light;

      i.icon { padding-right: 0.1em }
    }
  }

  .price-category { margin-top: 5px }
} // .market-list-mobile-section

.market-show-mobile-section {
  margin-top: 7em;
  // overflow: hidden;

  .title-section {
    .ui.container {
      margin-left: 0.1em !important;
      margin-right: 0.1em !important;
    }

    .left.column {
      color: $color-grey;
      font-family: $font-futura-light;
      font-size: 22px;
    }

    .right.column {
      text-align: right;

      img {
        width: 80px;
        height: 50px;
      }
    }

    .ui.divider { margin-top: 0.2em }
  } // .title-section

  .market-section {
    .header.row {
      padding-bottom: 0px;

      .left.column {
        padding-left: 0px;

        .ui.header {
          color: $color-grey;
          font-family: $font-futura-light;
          font-size: 26px;
          font-weight: 100;
          margin-bottom: 0px;
        }

        .sub.header {
          font-family: $font-futura-light;
          color: $color-grey-light;

          .item { font-size: 14px }
          .wait.icon { color: $color-property }
        }
      }

      .right.column {
        padding-right: 0px;

        text-align: right;
        .favorite-icon { height: 45px }
      }
    } // .header.row

    .payment.row {
      padding-top: 0px;
      padding-bottom: 0px;

      .payment.list {
        .ui.list .item { margin-left: 0px }
      }
    } // .payment.row

    .tags.row {
      padding-top: 0px;
      padding-bottom: 0px;

      .item { margin-left: 0.2em }
    } // .tags.row

    .description.row {
      color: $color-grey-light;
      font-family: $font-futura-light;
      font-size: 16px;
      text-align: justify;
    }

    .contact.row {
      padding-top: 0px;

      i.icon {
        background-color: #d3d3d3;
        color: $color-secondary;
      }
    }
  } // .market-section

  .product-section {
    .ui.header {
      color: $color-grey;
      font-family: $font-futura-light;
      font-size: 22px;
      font-weight: 100;
    }

    .content {
      padding-left: 0px !important;
      font-family: $font-futura-regular;

      .name {
        color: $color-grey;
        font-size: 18px;
      }

      .description {
        color: $color-grey-light;
        font-family: $font-futura-light;
        font-size: 16px;
        text-align: justify;
        margin-top: 2px;
        margin-bottom: 2px;
      }

      .price {
        color: $color-grey;
        font-size: 18px;
        text-align: right;
      }
    }
  } // .product-section
} // .market-show-mobile-section
