// INDEX PAGE
.property-index-section {
  .title {
    font-family: $font-futura-light;
    color: $color-grey;
    font-size: 36px;

    @media #{$mobile} {
      font-size: 22px;
    }
  }

  .sponsor-section {
    .three.column.grid .column { padding: 0 !important }
  }

  .ui.card.desktop {
    max-width: 261px;

    .ribbon.label { z-index: 1 }

    .image {
      position: relative;
      height: 174px;

      p {
        position: absolute;
        bottom: 0;
        left: 5px;
        color: white;
        font-size: 20px;
        text-shadow: 2px 2px 4px #000000;
      }
    }

    .card-value {
      font-size: 16px;
      font-weight: bold;
      color: $color-property;
    }
  }

  .ui.card.mobile {
    .content {
      padding: 0.6em 1em;

      .header {
        color: $color-grey;
        font-size: 16px;
        font-weight: 100;
      }
    }

    .ribbon.label { z-index: 1; top: 10px }

    .image {
      height: 174px;

      p {
        position: absolute;
        bottom: 0;
        left: 5px;
        color: white;
        font-size: 20px;
        text-shadow: 2px 2px 4px #000000;
      }
    }

    .heart.rating {
      position: absolute;
      top: 10px;
      right: 5px;
      font-size: 25px;
      color: #3C757B;
    }

    .card-label {
      color: $color-grey;
      font-size: 14px;
    }

    .card-value {
      font-size: 16px;
      color: $color-property;
    }
  }
}

// SHOW PAGE
.property-show-section {
  padding-top: 85px;

  .gallery-section {
    .property-image {
      max-width: 730px;
      max-height: 486px;
    }

    ul {
      list-style: none outside none;
      padding-left: 0;
      margin: 0;
    }
  }

  .property-option {
    .ui.ribbon.label { left: calc( 0rem - 1.2em ) }

    .ribbon {
      position: absolute !important;
      margin-top: 60px !important;
      font-size: 14px;
      z-index: 1;
    }
  }

  .tour {
    width: 730px;
    height: 486px;
  }

  .general-section {
    .price-label {
      float: left;
      font-size: 16px;
    }

    .price-value {
      float: right;
      font-size: 28px;
    }

    .ui.clearing.divider { margin-top: 2.5em }
    .ui.favorite.divider { margin-top: 0 }
    .statisct-secion { text-align: center }
    .statistic > .value{ color: #2185D0 }
  }

  .detail-section {
    .column {
      padding-top: 0.5em !important;
      padding-bottom: 0.5em !important;
    }

    .right.aligned.column {
      font-weight: bold;
    }
  }

  .tag-section {
    .tag.column{
      padding-top: 0.2em !important;
      padding-bottom: 0.2em !important;
    }
  }
}
