// INDEX PAGE
.property-index-section {
  .title {
    font-family: $font-futura-light;
    color: $color-grey;
    font-size: 36px;

    @media #{$mobile} { font-size: 22px }
  }

  .sponsor-section {
    @media #{$mobile} {
      .ui.six.column {
        display: none !important;
      }
    }
  }

  .ui.card.desktop {
    max-width: 261px;

    .ribbon.label { z-index: 1 }

    .image {
      position: relative;
      height: 174px;

      p {
        position: absolute;
        bottom: 0;
        left: 5px;
        color: white;
        font-size: 20px;
        text-shadow: 2px 2px 4px #000000;
      }
    }

    .card-value {
      font-size: 16px;
      font-weight: bold;
      color: $color-property;
    }
  }

  .ui.card.mobile {
    .content {
      padding: 0.6em 1em;

      .header {
        color: $color-grey;
        font-size: 16px;
        font-weight: 100;
      }
    }

    .ribbon.label { z-index: 1; top: 10px }

    .image {
      height: 174px;

      p {
        position: absolute;
        bottom: 0;
        left: 5px;
        color: white;
        font-size: 20px;
        text-shadow: 2px 2px 4px #000000;
      }
    }

    .heart.rating {
      position: absolute;
      top: 10px;
      right: 5px;
      font-size: 25px;
      color: #3C757B;
    }

    .card-label {
      color: $color-grey;
      font-size: 14px;
    }

    .card-value {
      font-size: 16px;
      color: $color-property;
    }
  }
}

// LIST PAGE
.property-list-section {
  .result-section {
    text-align: center;

    .value {
      font-size: 30px;
      color: $color-property;
    }
    .label { font-size: 16px }
}

  .property-image {
    float: left;
    position: relative;

    img {
      width: 260px;
      height: 174px;
    }

    p {
      position: absolute;
      bottom: 0;
      left: 5px;
      color: white;
      font-size: 20px;
      text-shadow: 2px 2px 4px #000000;
    }
  }

  .property-content {
    overflow: auto;
    padding-left: 1em;

    .header { float: left }
    .ui.heart.rating { float: left; margin-left: 10px }

    .customer-brand {
      float: right;
      width: 75px;
      height: 32px;
    }

    .justified.container { float: left }

    .statistic-section {
      float: left;
      margin-top: 1.2em;
    }

    .statistic > .value{ color: #2185D0 }

    .action-section {
      float: right;
      margin-top: 1.5em;
    }
  }
}

// SHOW PAGE
.property-show-section {
  padding-top: 85px;

  .gallery-section {
    .property-image {
      max-width: 730px;
      max-height: 486px;
    }

    ul {
      list-style: none outside none;
      padding-left: 0;
      margin: 0;
    }
  }

  .property-option {
    .ui.ribbon.label { left: calc( 0rem - 1.2em ) }

    .ribbon {
      position: absolute !important;
      margin-top: 60px !important;
      font-size: 14px;
      z-index: 1;
    }
  }

  .tour {
    width: 730px;
    height: 486px;
  }

  .general-section {
    .price-label {
      float: left;
      font-size: 16px;
    }

    .price-value {
      float: right;
      font-size: 28px;
    }

    .ui.clearing.divider { margin-top: 2.5em }
    .ui.favorite.divider { margin-top: 0 }
    .statisct-secion { text-align: center }
    .statistic > .value{ color: #2185D0 }
  }

  .detail-section {
    .column {
      padding-top: 0.5em !important;
      padding-bottom: 0.5em !important;
    }

    .right.aligned.column { font-weight: bold }
  }

  .tag-section {
    .tag.column {
      padding-top: 0.2em !important;
      padding-bottom: 0.2em !important;
    }
  }
}

// LIST PAGE MOBILE
.property-list-mobile-section {
  .middle.row {
    .left.column {
      margin-bottom: 0px;
      padding-left: 1em;
      font-family: $font-futura-light;
      font-size: 23px;

      a { color: $color-grey }
    }

    .right.column {
      margin-bottom: 0;

      padding-right: 1.5em;
      text-align: right !important;
      img { width: 100px }
    }

    .ui.card {
      margin: 0;
      box-shadow: none !important;

      img {
        border-radius: 0px;
        height: 174px;
      }

      .price {
        position: absolute;
        bottom: 0;
        left: 1em;
        margin-bottom: 0.2em;
        color: white;
        font-size: 20px;
        text-shadow: 2px 2px 4px #000000;
      }

      .ui.ribbon.label {
        margin-left: 1.6em;
        padding: 4px 20px;
        top: 10px;
        border-color: rgba(255, 255, 255, 0) !important;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        font-family: $font-futura-light;
        font-size: 17px;
        font-weight: 100;
        letter-spacing: 0.5px;
        z-index: 1;
      } // .ui.ribbon.label

      .heart.rating {
        position: absolute;
        top: 10px;
        right: 20px;

        .icon {
          color: rgba(0,70,97,0.5);
          text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3) !important;
          -webkit-text-stroke-color: #fff;
          -webkit-text-stroke-width: 2px;
        }

        .icon.selected, .icon.active { color: #b40e0d !important }
      } // .heart.rating

      .content {
        .card-label {
          color: $color-grey;
          font-family: $font-futura-light;
          font-size: 18px;
          margin: 0;
        }

        .card-value {
          color: $color-property;
          font-family: $font-futura-light;
          font-size: 20px;
        }
      }
    } // .ui.card
  } // .middle.row
} // .property-list-mobile-section

// SHOW PAGE MOBILE
.property-show-mobile-section {
  margin-top: 7em;
  overflow: hidden;

  .title-section {
    .ui.container {
      margin-left: 0.1em !important;
      margin-right: 0.1em !important;
    }

    .ui.grid {
      .left.column {
        color: $color-grey;
        font-family: $font-futura-light;
        font-size: 22px;
      }

      .right.column {
        text-align: right;

        img {
          width: 80px;
          height: 50px;
        }
      }
    }

    .ui.divider {
      margin-top: 0.2em;
      border-color: $color-property;
    }
  } // .title-section

  .property-section {
    .left.column {
      padding-left: 0px;

      .ui.header {
        color: $color-grey;
        font-family: $font-futura-light;
        font-size: 26px;
        font-weight: 100;
        margin-bottom: 0px;
      }

      .sub.header {
        color: $color-grey-light;
        font-family: $font-futura-light;
        font-size: 16px;
      }
    }

    .right.column {
      padding-right: 0px;

      text-align: right;
      .favorite-icon { height: 45px }
    }

    .ui.ribbon {
      position: absolute;
      margin-top: 1em;
      margin-left: 0.8em;
      padding-top: 5px;
      padding-bottom: 5px;
      z-index: 1;
      font-family: $font-futura-light;
      font-size: 17px;
      font-weight: 100;
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
    }

    .ui.rating {
      position: absolute;
      margin-top: 10px;
      right: 5px;
      z-index: 1;

      .icon {
        color: rgba(0,70,97,0.5);
        text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3) !important;
        -webkit-text-stroke-color: #fff;
        -webkit-text-stroke-width: 2px;
      }

      .icon.selected, .icon.active { color: #b40e0d !important }
    }
  } // .property-section

  .gallery-section {
    background-color: rgba(0, 0, 0, 0.74);

    .lSSlideOuter  {
      .lSPager.lSGallery { display: none }
      .lSAction { display: none !important }
    }
  } // .gallery-section

  .detail-section-one {
    color: $color-grey;
    font-family: $font-futura-light;
    font-size: 20px;
    margin-top: 0.5em;

    .ui.container {
      margin-left: 0.1em !important;
      margin-right: 0.1em !important;
    }

    .column {
      padding-left: 0px !important;
      padding-right: 0px !important;

      p:last-child {
        color: $color-property;
        margin-top: -1em;
      }
    }
  } // .detail-section-one

  .detail-section-two {
    font-size: 17px;
    font-family: $font-futura-light;

    .row:last-child { box-shadow: none !important }

    .column {
      padding: 0.5em 0em !important;

      p:first-child { color: $color-grey }

      p:last-child {
        color: $color-grey-light;
        margin-top: -0.8em;
      }
    }

    .ui.divider { margin: 1em 0em !important }
  } // .detail-section-two

  .action-section {
    margin-top: 2em;
    margin-left: 1.5em;
    margin-right: 1.5em;

    .column {
      padding-top: 0px !important;
      padding-left: 0.3em !important;
      padding-right: 0.3em !important;;
    }

    .ui.button {
      padding-left: 3em !important;
      padding-right: 0.5em !important;
      font-size: 13px;

      i { background-color: #d3d3d3 !important }
    }

    .secondary-button .icon { color: $color-secondary !important }
    .primary.button   .icon { color: #2185D0 !important }
    .property-button  .icon { color: $color-property !important }
  } // .action-section

  .channel-section {
    margin-top: 1em;

    .text {
      font-family: $font-futura-light;
      font-size: 18px;
      padding-bottom: 0px !important;
    }

    .market.column   { text-align: right }
    .delivery.column { text-align: left }
  } // .channel-section

  .description-section {
    .ui.header {
      color: $color-grey;
      font-family: $font-futura-light !important;
      font-weight: 100;
      font-size: 22px;
    }

    .description {
      color: $color-grey-light;
      font-family: $font-futura-light !important;
      font-size: 16px;
    }
  } // .description-section

  .tags-section {
    .ui.header {
      color: $color-grey;
      font-family: $font-futura-light !important;
      font-weight: 100;
      font-size: 22px;
    }

    .column {
      color: $color-grey;
      font-family: $font-futura-light;
      font-size: 18px;
      padding-top: 0.5em !important;
      padding-bottom: 0.5em !important;
    }
  } // .tags-section

  .customer-section {
    .left.column img {
      width: 130px;
      height: 80px;
    }

    .right.column {
      font-family: $font-futura-light;
      font-size: 18px;

      span:first-child { color: $color-grey }
      span:last-child { color: $color-grey-light }
    }
  } // .customer-section
} // .property-show-mobile-section
