.search-info-section {
  margin-top: -2em;

  .text {
    color: $color-grey-light;
    font-family: $font-futura-regular;
    font-size: 16px;

    span {
      font-size: 18px;
      font-weight: 900;
    }
  }
}
