.search-info-section {
  margin-top: -2em;

  .header-button-back {
    position: absolute;
    z-index: 1;

    &:first-of-type {
      margin-top: 0.7em;

      .ui.labeled.icon.button {
        background: none !important;
        color: $color-grey-light;
        font-family: $font-futura-light;
        font-size: 16.5px;
        padding-left: 2em !important;
        padding-right: 0.5em !important;
        padding-bottom: 10px;

        i.icon {
          background: none;
          width: 22px;
          font-size: 19px;
        }
      }

      @media #{$desktop} {
        display: none;
      }
    }

    &:nth-of-type(2) {
      margin-top: 1em;
      @media #{$mobile} {
        display: none;
      }
    }
  }

  .text {
    color: $color-grey-light;
    font-family: $font-futura-regular;
    font-size: 20px;
    margin-top: 5px;

    @media #{$mobile} { font-size: 18px; text-align: right !important; }

    span {
      font-size: 26px;
      @media #{$mobile} { font-size: 20px }
    }
  }
}
