.search-info-section {
  margin-top: -2em;

  .text {
    color: $color-grey-light;
    font-family: $font-futura-regular;
    font-size: 20px;

    @media #{$mobile} { font-size: 18px }

    span {
      font-size: 26px;
      @media #{$mobile} { font-size: 20px }
    }
  }
}
