.search-bar {
  border-radius: 0px !important;
  margin: 0px !important;

  .ui.button { font-weight: 100 !important }

  .column {
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
  }

  .icon, .ui.header { color: $color-grey }
  .item.selected { background: rgba(15, 163, 190, 0.3) !important }

  .dropdown.icon {
    font-size: 25px !important;
    right: 8px !important;
    top: 3px !important;
  }

  @media #{$mobile} {
    .row {
      padding-top: 0.5em !important;
      padding-bottom: 0.5em !important;
    }
  }
}
