#success-modal
  .ui.small.success.modal
    .ui.center.aligned.container
      = image_tag 'success_icon.svg', class: 'success-icon'
      %h1.ui.header Obrigado
      %p.sub-header
        Dentro de alguns minutos você receberá
        %br
        um email com seus dados de acesso.

      .ui.divider

      .actions
        .ui.blue.approve.button OK
