.bg-home.section-one#section-one
  - if !browser.device.mobile?  # desktop background
    = video_tag 'https://s3-sa-east-1.amazonaws.com/dfaqui/videos/background.mp4',
      poster: 'home/background.jpg', class: 'bg-home', autoplay: true, loop: true

    = image_tag 'home/background.jpg', class: 'bg-home'

  .ui.center.aligned.container
    = image_tag 'home/dfaqui_light.svg', class: 'dfaqui-light'
