.terms-section
  .header-fixed-top
    .button-back
      = link_to request.referer, class: 'ui labeled icon button back-button' do
        %i.reply.icon
        Voltar

    .button-back
      = link_to 'Voltar', request.referer, class: 'ui small primary button left floated back-button'

  .ui.header.aligned.center
    Termos e Condições Gerais de Uso
    .ui.header do Sítio Virtual "DFaqui.com":

  .ui.ordered.list.container.justified
    .item
      %p
        Considerando o direito básico do consumidor, de obter informação clara e adequada sobre diferentes produtos
        e serviços colocados à sua disposição, previsto no art. 6º, inciso III do Código de Defesa do Consumidor
        (Lei nº 8.078/90) e considerando o conteúdo disponibilizado no sítio virtual
        %i
          %b www.dfaqui.com.
    %br
    .item
      %p
        Informamos que o conteúdo disponibilizado no
        %i site
        possui caráter meramente informativo,
        não representando qualquer vinculação direta ou indireta entre seus idealizadores com seus respectivos usuários.
    %br
    .item
      %p
        O Conteúdo informativo do
        %i site
        tem por objetivo orientar e fornecer informações aos usuários sobre Imóveis,
        Comércio Local e
        %i Delivery
        (serviços de entrega) e diferentes Serviços no Distrito Federal em caráter gratuito.
    %br
    .item
      %p
        Ainda que o
        %i site
        possua informações específicas sobre imóveis, comércio e serviços existentes na região,
        estes dados são colhidos e obtidos através de seus respectivos vendedores e/ou fornecedores.
    %br
    .item
      %p
        Em havendo interesse do usuário na aquisição ou locação do imóvel,
        produto ou serviço deverá procurar diretamente o seu corretor,
        vendedor ou fornecedor através das informações de contato veiculadas no próprio
        %i site.
    %br
    .item
      %p
        As informações contidas no
        %i site
        , de caráter meramente informativo não induz proposta contratual e nem caráter vinculativo (art. 428 do CC/02).
    %br
    .item
      %p
        As informações constantes do
        %i site
        podem sofrer alterações a qualquer momento de acordo com dados colhidos ou fornecidos pelo fornecedor,
        corretor ou vendedor de acordo com a evolução de mercado, oferta e a demanda de seus respectivos produtos
        e serviços veiculados no Portal DFaqui.com.
    %br
    .item
      %p
        Usuário é toda pessoa física ou jurídica que acessa o conteúdo veiculado através do Portal DFaqui.com.
    %br
    .item
      %p
        Anunciante é toda pessoa física ou jurídica que anuncia produtos e serviços através
        do Portal DFaqui.com ou que solicite ou autorize que o administrador o faça.
    %br
    .item
      %p
        Gestor de conteúdo é aquele insere as informações no Portal DFaqui.com ou que recebe
        autorização como contratante para fazê-lo em busca de alguma solução tecnológica ou estratégica
        para desenvolvimento de seu negócio e respectivos anúncios publicitários.
    %br
    .item
      %p
        Conteúdo é toda publicidade, informação, mensagens, listas, comentários,
        arquivo de mídia e/ou outro material veiculado através do Portal DFaqui.com,
        cujo acesso está disponível ao Usuário e ao Anunciante.
    %br
    .item
      %p
        O Portal é um
        %i website
        com Conteúdo voltado para usuários e anunciantes interessados em notícias,
        curiosidades, publicidades, ofertas, anúncios e informações sobre Imóveis, Comércio Local e
        %i Delivery
        , e diferentes Serviços existentes, relacionados direta e indiretamente com o Distrito Federal.
    %br
    .item
      %p
        O Portal oferece diversos serviços ao anunciante relacionados direta e indiretamente com o
        objeto de divulgação (Imóveis, Comércio Local,
        %i Delivery
        , e Serviços). Essas soluções tecnológicas são contratadas pelo Anunciante através de instrumento de licença de uso
        autônomo que estabelece direitos e obrigações específicos a título oneroso e podem ser fornecidas a
        título gratuito por determinado período de carência do Gestor e proprietário do Portal,
        mediante anuência prévia e pacto adjunto dos envolvidos (Gestor/Proprietário e Anunciante/Contratante).
    %br
    .item
      %p
        Usuário e Anunciante deverão ler atentamente os
        %b termos e condições gerais de utilização e política de privacidade
        aqui estabelecidos antes do acesso ao Portal "DFaqui.com", bem como aos seus respectivos serviços e anúncios
        publicitários nele disponibilizados. Ao acessar o Portal o usuário e Anunciante declaram automaticamente ter
        conhecimento destes termos e aceitar os direitos e obrigações nele inseridos.
    %br
    .item
      %p
        O proprietário do Portal como gestor do conteúdo nele veiculado se reserva no direito de modificar,
        suprimir e/ou ampliar, livremente e a qualquer tempo, sem comunicação prévia,
        o conteúdo das publicações nele veiculadas ou nos Termos e Condições Gerais estabelecidos.
    %br
    .item
      %p
        O Portal não exerce quaisquer das atividades nele veiculadas, uma vez que seu objeto é veicular e transmitir
        informações relevantes aos usuários sobre seu conteúdo atribuindo escorreita publicidade de seu conteúdo
        em estrita observância às normas legais que regem a matéria, bem como em fiel observância aos preceitos
        contratuais autônomos a ele vinculados.
    %br
    .item
      %p
        Eventuais direitos, obrigações e contratos formalizados entre o anunciante e o usuário, são independentes
        e autônomas não apresentando qualquer vinculação do proprietário do Portal nas negociações por eles realizadas,
        ou qualquer responsabilidade civil contratual ou extracontratual decorrentes deste pacto.
    %br
    .item
      %p
        Compete exclusivamente ao anunciante cadastrar e alterar o conteúdo de seus respectivos anúncios, que,
        enquanto contratante recebe autorização para gerir seus anúncios, sendo de sua exclusiva
        responsabilidade o que for publicado. Não há obrigação do Portal de exercer qualquer tipo de controle,
        monitoramento ou verificação prévia sobre o conteúdo veiculado, salvo quando por instrumento contratual
        específico o proprietário ficar incumbido desta obrigação e gestão do conteúdo.
    %br
    .item
      %p
        O anunciante declara expressamente ser o titular dos direitos sobre o conteúdo que veicula e reproduz no
        Portal DFaqui.com, possuindo autorização  legal para veiculá-lo e para autorizar que o proprietário do
        Portal o utilize e o divulgue. O anunciante declara, ainda, ser detentor de licença e/ou permissão de toda
        e qualquer pessoa identificável no conteúdo, para utilizar seu nome ou veicular sua imagem.
    %br
    .item
      %p
        Anunciante e usuário declaram expressamente serem os únicos responsáveis pelo descumprimento de suas obrigações
        constantes de eventuais pactos por eles estabelecidos, não havendo que se falar em responsabilidade civil do
        "DFaqui.com" por inobservância de qualquer preceito legal, contratual ou dos Termos e Condições Gerais Veiculados no
        %i site.
    %br
    .item
      %p
        Em ocorrendo demandas judiciais relativas ao conteúdo veiculado no portal, todas as partes envolvidas se obrigam a
        eximir de quaisquer responsabilidades o proprietário do Portal.
    %br
    .item
      %p
        Recomenda-se aos usuários adotarem redobrada cautela e bom senso em todos os contatos, negociações e fechamentos de
        negócios decorrentes do conteúdo veiculado através do Portal, devendo avaliar os riscos, bem como buscar auxílio de
        um advogado ou profissional do direito devidamente qualificado, capacitado e habilitado para prestar os serviços de
        assessoria jurídica, quando houver dúvida quanto ao alcance e conteúdo das normas contratuais a ele vinculadas.
    %br
    .item
      %p
        Não serão permitidas a veiculação de publicidades que possam denegrir ou representar mácula à imagem ou afronta e
        violação da honra objetiva e subjetiva de terceiros ou quaisquer das partes diretamente envolvidas na promoção de
        publicidade de conteúdo do portal. A violação desta regra implicará a imediata rescisão contratual, independente de
        notificação prévia, podendo a proprietária retirar a publicidade difamatória do conteúdo de modo a resguardar seus interesses,
        os direitos de terceiros, sem prejuízo ainda, de apuração de responsabilidades civil e penal pela divulgação inapropriada de seu conteúdo.
    %br
    .item
      %p
        A inadimplência do anunciante quando o contrato se formalizar a título oneroso, com relação a quaisquer de suas obrigações,
        autoriza a suspensão de seu acesso aos recursos tecnológicos do Portal.
    %br
    .item
      %p
        Sem prejuízo das obrigações assumidas no contrato firmado, o anunciante é obrigado a fornecer informações verídicas
        sobre o anúncio veiculado e também sobre sua titularidade, responsabilizando-se por quaisquer informações ou inexatidões
        veiculadas através de seus dados de
        %i login
        e senha de acesso.
    %br
    .item
      %p
        Usuário e anunciante obrigam-se a acessar o Portal e seus recursos tecnológicos de forma correta e somente para os fins lícitos
        a que se destinam, em conformidade com o disposto nestes termos e condições, normas legais e demais instrumentos contratuais que
        regulamentam sua utilização.
    %br
    .item
      %p
        É vedado ao usuário e ao anunciante reproduzir, duplicar, copiar, alienar ou de qualquer forma comercializar o conteúdo do
        Portal ou mesmo a solução tecnológica representada pelo portal, salvo se expressamente autorizado pelo seu proprietário.
    %br
    .item
      %p
        Ciente de que o Portal DFaqui.com não realiza nenhuma triagem prévia ou filtro sobre o conteúdo divulgado,
        Anunciante e Usuário reconhecem que o Portal terá o direito de a seu exclusivo critério de oportunidade e conveniência,
        recusar, excluir, alterar ou remover qualquer conteúdo que violem as regras a ele vinculadas.
    %br
    .item
      %p
        Não será permitida veiculação e publicidade de conteúdo Ilícito; Protegido por direitos autorais, segredo comercial,
        industrial ou de terceiros, permissão do titular de tais direitos para divulgá-lo; Nocivo, abusivo, difamatório, pornográfico,
        libidinoso ou que de qualquer forma represente assédio, invasão de privacidade ou risco a terceiros; que represente assédio,
        degradação, intimidação em relação a um indivíduo ou grupo de indivíduos com base na religião, sexo, orientação sexual, raça,
        origem ética, idade ou deficiência; que inclua informações pessoais ou que permitam a identificação de terceiro sem seu expresso
        consentimento; falso, fraudulento, enganoso ou que represente venda casada ou promoção enganosa e de violação de normas de consumo;
        que represente ou contenha
        %i marketing
        de associação ilícita, referência a
        %i link
        , spam, correntes ou esquemas de pirâmide; que divulgue,
        mencione ou faça apologia a quaisquer serviços ilegais ou venda de quaisquer itens cujo comércio e propaganda sejam proibidos ou
        restritos por lei; que contenha vírus ou qualquer outro código malicioso, arquivos ou programas projetados para interromper, destruir
        ou limitar a funcionalidade de qualquer
        %i software
        ou
        %i hardware
        ; que interrompa o fluxo normal de diálogo com um número excessivo de mensagens (
        %i flooding attack
        ), ou que, de outro modo, afete de forma negativa a capacidade de outros anunciantes e usuários ao utilizarem corretamente o Portal;
        ou que utilize endereços de
        %i e-mail
        enganosos, títulos falsos ou, de outro modo, identificadores manipulados para ocultar a origem do conteúdo submetido ao
        %i site.
    %br
    .item
      %p
        Anunciante e usuário, autorizam o Portal DFaqui.com a preservar e armazenar todas as informações inseridas em seu conteúdo
        e a ele submetidas de qualquer forma, bem como todos os seus dados pessoais, a exemplo de endereços de
        %i e-mail
        , endereços de IP (
        %i Internet Protocol
        ), informações de data e horário de acesso, entre outras informações. O Usuário também autoriza o Portal DFaqui.com,
        a seus exclusivos critérios de oportunidade e conveniência, a informar e/ou divulgar estes dados em caso de exigência legal
        ou se forem, razoavelmente, necessárias para obedecer princípio do devido processo legal, ordem judicial ou preceito legal
        bem como para fazer cumprir as normas que regulamentam a relação contratual entre os envolvidos, seja legal,
        constitucional ou infralegal.
    %br
    .item
      %p
        As informações coletadas através do Portal serão utilizadas somente pela equipe do Portal DFaqui.com com a única finalidade
        de identificar o público que o acessa e de personalizar conteúdo e serviços. Essas informações são tratadas como confidenciais
        e não são divulgadas a terceiros sem autorização, sem a determinação da autoridade competente ou sem que concorram quaisquer
        das hipóteses previstas neste instrumento contratual.
    %br
    .item
      %p
        Ao cadastrar-se no Portal DFaqui.com, ou ao preencher quaisquer formulários ou requerimentos existentes em seu conteúdo o
        anunciante e o usuário autorizam o envio de mensagens para o
        %i e-mail
        ou número de celular cadastrado e obrigam-se a manter seu cadastro atualizado para que recebam as mensagens corretamente.
    %br
    .item
      %p
        Para o acesso e utilização de determinados recursos tecnológicos do Portal será exigido cadastro prévio através de
        Nome de Usuário e Senha. É responsabilidade exclusiva do anunciante e do usuário guardar e proteger sua senha e garantir
        que o acesso seja feito somente por pessoas autorizadas.
    %br
    .item
      %p
        O Portal DFaqui.com pode publicar em seu Conteúdo
        %i links
        para outros
        %i websites
        de terceiros, não se responsabilizando, todavia, pelo conteúdo desses
        %i websites
        e pela segurança das informações a estes
        %i sites
        vinculadas.
    %br
    .item
      %p
        O Portal DFaqui.com pode publicar em seu Conteúdo
        %i links
        para outros
        %i websites
        de terceiros, não se responsabilizando, todavia, pelo conteúdo desses
        %i websites
        e pela segurança das informações a estes
        %i sites
        vinculadas.
    %br
    .item
      %p
        Ao publicar Conteúdo no Portal DFaqui.com, anunciante e usuário compreendem que este conteúdo é público e acessível
        a terceiros, podendo ser listado nos resultados de ferramentas de pesquisa como Yahoo!, MSN, Google e outros e no
        cache dessas ferramentas de pesquisa, em
        %i feeds
        e outros
        %i websites
        por acordos comerciais entre o Portal DFaqui.com e outras empresas ou instituições. O usuário compreende que é de
        responsabilidade de cada uma dessas ferramentas de pesquisa,
        %i websites
        manter seus índices e cache atualizados e remover o conteúdo de seus índices e cache, pois não é possível que o
        Portal DFaqui.com exerça qualquer influência ou fiscalização sobre eles.
    %br
    .item
      %p
        O Portal DFaqui.com se reserva o direito de reter informações pelo período que entender necessário para o bom
        cumprimento de seus negócios, mesmo após o encerramento da conta do Anunciante ou Usuário.
    %br
    .item
      %p
        Anunciante e usuário desde já declaram estarem cientes que o Portal DFaqui.com não assume nenhuma responsabilidade
        em caso de roubo, perda, alteração ou uso indevido de suas informações pessoais e do conteúdo como um todo,
        inclusive na hipótese de informações fornecidas a prestadores de serviços terceirizados ou a outros anunciantes e
        usuários e na hipótese de descumprimento destes termos e condições ou de qualquer outra cláusula contratual específica.
    %br
    .item
      %p
        Todas as informações, marcas, sinais e elementos distintivos e/ou elementos e ferramentas tecnológicos encontrados no
        Portal DFaqui.com, com exceção do conteúdo submetido pelos anunciantes e usuários, são de titularidade da empresa
        proprietária do Portal DFaqui.com, protegidos por direitos intelectuais de acordo com as Leis brasileiras e tratados e
        convenções internacionais dos quais o Brasil seja signatário.
    %br
    .item
      %p
        As informações, elementos e ferramentas tecnológicas que são disponibilizados pelo Portal DFaqui.com, para o anunciante
        e para o usuário são apenas para sua informação e uso pessoal na forma designada pelo Portal. Tais informações,
        elementos e/ou ferramentas não podem ser usados, copiados, reproduzidos, distribuídos, transmitidos, difundidos, exibidos,
        vendidos, licenciados ou, de outro modo, explorados para quaisquer fins, sem o consentimento prévio e por escrito do Portal DFaqui.com.
    %br
    .item
      %p
        O Portal DFaqui.com, se reserva o direito de recusar, limitar ou retirar o acesso ao seu conteúdo e/ou aos recursos tecnológicos,
        a qualquer momento, sem a necessidade de comunicação prévia, por sua própria iniciativa ou ainda por exigência de terceiro,
        daquele anunciante ou usuário que descumprir os presentes termos e condições ou qualquer outro instrumento contratual.
    %br
    .item
      %p
        A duração do Portal é por prazo indeterminado. No entanto, a empresa proprietária se reserva o direito de dar por finalizado,
        interromper ou suspender de forma unilateral e a qualquer momento, respeitadas as condições contratuais estabelecidas com os
        envolvidos ou terceiros a eles vinculados.
    %br
    .item
      %p
        Os envolvidos elegem o foro da Circunscrição Judiciária de Brasília (DF), por mais privilegiado que outro seja ou possa vir
        a ser para dirimir qualquer conflito que venha a surgir da aplicação dos preceitos normativos vinculados entre os envolvidos.
    %br
