@mixin banner-section($image) {
  background-image: image-url($image);
  background-position: center center;
  min-height: 445px;
}

.comercio-banner {
  @include banner-section('comercio_banner.png');
}

.delivery-banner {
  @include banner-section('delivery_banner.png');
}

.imoveis-banner {
  @include banner-section('imoveis_banner.png');
}
