body { padding-top: 85px }

.app-content { margin: 2em 0 2em 0 }

.ui.header.title {
  font-size: 36px;
  font-weight: normal;
}

.back-button { float: right }

.blue-color {
  background-color: #004563 !important;
  color: white !important;
}

.delivery-color {
  background-color: #fdad3d !important;
  color: white !important;
}

.property-color {
  background-color: #0094B4 !important;
  color: white !important;
}

.market-color {
  background-color: #41a850 !important;
  color: white !important;
}
