- if page.current?
  %a.item.active{ href: url, title: t('view.pagination.page.current') + " #{page}" }
    = page
- else
  %a.item{ href: url, title: t('view.pagination.page.goto') + " #{page}" }
    = page
