= render 'admin/markets/market_menu'

= link_to new_admin_market_product_path(@market.id), class: 'ui primary button' do
  %i.plus.icon
  Novo

%table.ui.striped.table
  %thead
    %tr
      %th Imagem
      %th Nome
      %th Descrição
      %th Valor
      %th Ativo?
      %th Ação
  %tbody
    = render @products
