= render partial: 'admin/markets/market_menu',
  locals: { customer_id: @market.customer_id, market_id: @market.id, tab: 'product' }

= link_to new_admin_customer_market_product_path(@market.customer_id, @market.id),
    class: 'ui primary button' do

  %i.plus.icon
  Novo

%table.ui.striped.table
  %thead
    %tr
      %th Imagem
      %th Nome
      %th Descrição
      %th Valor
      %th Ativo?
      %th Ação
  %tbody
    = render @products
