.ui.clearing.segment
  %b
    = image_tag "payment/#{payment_method.icon}", class: 'ui middle aligned mini image'
    = payment_method.name
  %b
    = link_to 'Remover', admin_market_payment_method_path(@market.id, payment_method.id),
      data: { confirm: 'Tem certeza de que deseja remover essa forma de pagamento?' },
      method: :delete, style: 'float: right'
