= render partial: 'admin/markets/market_menu',
  locals: { market_id: @market.id, tab: 'payment' }

.ui.text.container
  - if @market.payment_methods.any?
    .ui.segments
      = render @market.payment_methods

  .ui.center.aligned.container
    = link_to 'Adicionar forma de pagamento',
      new_admin_market_payment_method_path(@market.id),
      id: 'payment-method-btn', remote: true

  - if @market.delivery?
    - previous_path = admin_market_cities_path(@market.id)
  - else
    - previous_path = admin_market_working_hours_path(@market.id)

  - next_path       = admin_market_products_path(@market.id)

= render partial: 'admin/markets/step_buttons',
  locals: { previous_path: previous_path, next_path: next_path }
