= render partial: 'admin/markets/market_menu',
  locals: { customer_id: @market.customer_id, market_id: @market.id, tab: 'payment' }

.ui.text.container
  - if @market.payment_methods.any?
    .ui.segments
      = render @market.payment_methods

  .ui.center.aligned.container
    = link_to 'Adicionar forma de pagamento',
      new_admin_customer_market_payment_method_path(@market.customer_id, @market.id),
      id: 'payment-method-btn', remote: true
