.item
  = image_tag product.photo, class: 'ui rounded image'
  .middle.aligned.content
    .header= product.name
    .meta= product.description
    .extra
      .ui.right.floated.header= humanized_money_with_symbol product.price_cents
