.item
  .ui.two.column.center.aligned.grid
    .row
      .image.column= image_tag product.photo, class: 'ui rounded image'
      .content.column
        .name= product.name
        .description= product.description
        .price= humanized_money_with_symbol(product.price_cents)
