.market-index-section
  .title BUSCA EXCLUSIVA

  .ui.hidden.divider

  .sponsor-section
    - columns = (browser.device.mobile?) ? 'three' : 'six'
    %div{ class: "ui #{columns} column center aligned grid" }
      - @buttons.each do |button|
        .column
          = image_tag button.image, class: 'ui fluid image'
