= render 'partials/shared/search_info'

- if browser.device.mobile?
  .market-list-mobile-section
    .ui.vertically.divided.grid
      = render partial: 'market_mobile', collection: @markets, as: :market
- else
  .market-list-section
    = render partial: 'market', collection: @markets, as: :market

    .ui.center.aligned.container
      = paginate @markets

:javascript
  $('.ui.heart.rating').rating();

  function show_contact_info(id) {
    $('.ui.modal.item-' + id).modal('show');
  }
