= link_to 'Voltar', markets_path, class: 'ui primary button back-button'

.result-section
  %span.value= @markets.count
  %span.label resultados encontrados

.ui.divider

- @markets.each do |market|
  = render market

:javascript
  $('.ui.heart.rating').rating();
