%h2.ui.header= (current_user.has_role? :admin) ? 'Gestão de imóveis' : 'Meus Imóveis'

.ui.divider

= link_to new_admin_property_path, class: 'ui primary button' do
  %i.plus.icon
  Novo Imóvel

%table.ui.striped.table
  %thead
    %tr
      %th Código
      %th Endereço
      %th Cidade
      %th Cliente
      %th Tipo
      %th Situação
      %th Estado
      %th Ativo?
      %th Ação
  %tbody
    = render @properties
