= render partial: 'market_menu',
  locals: { customer_id: @market.customer_id, market_id: @market.id, tab: 'detail' }

= render 'form'

- next_path = admin_market_categories_path(@market.id)

= render partial: 'admin/markets/step_buttons',
  locals: { previous_path: nil, next_path: next_path }
