@import 'variables/delivery';

// list page
.back-button { background-color: $primary-color !important }

.result-section {
  text-align: center;

  .value {
    font-size: 30px;
    color: $primary-color;
  }
  .label { font-size: 16px }
}

.item-section {
  img {
    width: 260px;
    height: 174px;
  }

  .image { float: left }

  .item-content {
    overflow: auto;
    padding-left: 1em;

    .ui.header { float: left }
    .ui.heart.rating { float: right }

    .justified.container { float: left }

    .payment-section {
      float: left;
      margin-top: 10px;
    }

    .action-section {
      float: right;
      margin-top: 10px;
    }
  }
}

// show page
.market-banner {
  background-image: image-url('alimentacao_market_banner.jpg');
  background-position: center center;
  min-height: 300px;

  .header {
    margin-top: 0.2em !important;
    font-size: 2em !important;
    font-weight: 100 !important;
    color: #fff !important;
  }

  .ui.heart.rating {
    float: right;

    .icon {
      margin-left: 0.5em;
      color: white;
      opacity: 0.6;
    }
  }

  .meta, .description { color: #fff !important }
}
