// index page
.ui.fluid.card > .image {
  position: relative;

  p {
    position: absolute;
    bottom: 0;
    left: 5px;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
  }
}

.card-image {
  width: 261px;
  height: 174px;
}

.card-value {
  font-size: 16px;
  font-weight: bold;
  color: #2185D0;
}

// list page
.result-section {
  text-align: center;

  .value {
    font-size: 30px;
    color: #0094B4;
  }
  .label { font-size: 16px }
}

.property-item-section {
  .property-image {
    float: left;
    position: relative;

    img {
      width: 260px;
      height: 174px;
    }

    p {
      position: absolute;
      bottom: 0;
      left: 5px;
      color: white;
      font-size: 20px;
      text-shadow: 2px 2px 4px #000000;
    }
  }

  .property-content {
    overflow: auto;
    padding-left: 1em;

    .header { float: left }
    .ui.heart.rating { float: left; margin-left: 10px }

    .customer-brand {
      float: right;
      width: 75px;
      height: 32px;
    }

    .justified.container { float: left }

    .statistic-section {
      float: left;
      margin-top: 1.2em;
    }

    .statistic > .value{ color: #2185D0 }

    .action-section {
      float: right;
      margin-top: 1.5em;
    }
  }
}

// show page
.property-option {
  .ui.ribbon.label { left: calc( 0rem - 1.2em ) }

  .ribbon {
    position: absolute !important;
    margin-top: 60px !important;
    font-size: 14px;
    z-index: 1;
  }
}

.tour {
  width: 730px;
  height: 486px;
}

.general-section {
  .price-label {
    float: left;
    font-size: 16px;
  }

  .price-value {
    float: right;
    font-size: 28px;
  }

  .ui.clearing.divider { margin-top: 2.5em }
  .ui.favorite.divider { margin-top: 0 }
  .statisct-secion { text-align: center }
  .statistic > .value{ color: #2185D0 }
}

.detail-section {
  .column {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
  }

  .right.aligned.column {
    font-weight: bold;
  }
}
