$icon-height: 65px;

.brand-icon {
  height: $icon-height;
  width: 280px;
  margin-right: 8px;
}

.channel-icon {
  height: $icon-height;
  margin-right: 8px;
}

.favorite-icon {
  height: $icon-height;
}
